@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
.HomeDecor{
    background-image: url("../../Photos/DecorPhoto.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans", sans-serif;

}
.HomeDecordiv{
    text-align: center;
}
.HomeDecordiv h1{
    padding-top: 3.3rem;
    font-size: 6.4rem;
    color: #fff;
    font-weight: 500;
    line-height: 0;
}
.HomeDecordiv p{
    color: white;
    font-size: 1.4rem;
    line-height: 0;
}
.HomeDecordiv button{
    margin-top: 2.5rem;
    cursor: pointer;
    width: 160px;
    height: 57px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1rem;
    color: #7F5E88;
}
@media screen and (max-width: 1050px) {
    .HomeDecordiv h1{
        font-size: 4rem;
    }
    .HomeDecordiv p{
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 650px) {
    .HomeDecordiv h1{
        line-height: 4rem;
    }

}