@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.FreeShipping{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(76, 31, 89);
    font-family: "DM Sans", sans-serif;
}
.FreeShipping p{
font-size: 1.1rem;
}